body{
    margin: 0;
}
#header{
    height: 100px;
    background-color:black;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    color:aliceblue;
}
#menu{
    height: 70px;
    border: solid 1px;
    border-color: black;

}
.divsearch{ 
    padding: 5px;
    background-color: gray;
    position: absolute;
    top: 110px;
    right:20px;
    font-size: 10px;
    width: 180pxpx;

}
#search{
    width: 70%;
}
#divfilter{
    background-color: gray;
    position: absolute;
    top: 120px;
    right: 20px;
    padding: 5px;
    font-size: 10px;

}
.infor{
    background-color:black;
    color: aliceblue;
    height: 30px;
    width: 25%;
    float:left;
    align-items: center;
    justify-content: center;
    display: flex;
}
.list{
    
    height: 100px;
    width: 25%;
    float:left;
    align-items: center;
    justify-content: center;
    display: flex;
    word-wrap: break-word;
    border:solid black 1px;
    box-sizing: border-box;

}
#mid{
    height:1 500px;
}