

.header button{
    height: 30px;
    width: fit-content;
    position: absolute;
    right:0;
    top: calc(10% + 30px);
    margin-right: 15px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
    opacity: 80%;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header
{
    width: 100%;
    height: 15%;
    margin-bottom: 3%;
    background-color: black;
}


.container_admin
{
    display: flex;
    justify-content: center;
    position:absolute;
    margin-top: -3%;
    width: 100%;
    height: 88.3%;
    z-index: 9;
}
.sideBanner
{
    position: absolute;
    padding-top: 25px;
    width: 11%;
    height: 90.91%;
    margin-top: -3%;
    align-items: center;
    transition: width 0.4s;
    background-color: black;
    z-index: 10;
}

.sideBanner:hover
{
    width:20%;
    transition: width 0.4s;
    cursor: pointer;
}
    
.bar {
    /* box-sizing: initial; */
    display: flex;
    width: auto;
    height: 15%;
    background-color: rgb(29, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20;
    color: rgb(150, 150, 150);
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
    padding-left: 20px;
    position: relative;
    }
    
.bar:hover{
    color: white;
    background-color: rgb(45,45,45);
    animation: slidetext 0.2s linear alternate;
    padding-left: 30px;
    }
.textSlide{
    animation: none;
    }
@keyframes slidetext{
    from{
        padding-left:20px;
    }
    to{
        padding-left: 30px;
    }}
.onclick{
    color:rgb(44, 44, 44);
    background-color: rgb(150,150,150);
    }
.userSpace{
    height: 50px;
    width: 15%;
    position: absolute;
    right: 1%;
    top: 2%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    color: #181818;
    }
.arrow{
    filter: invert(100%);
    max-width: 7%;
    position: relative;
    right: 2%;
    }
.arrow img{
    max-width: 50%;
    height:auto;
    }
.header button:hover{
    background-color: rgba(255, 255, 255, 0.75);
    color: #181818;
    transition: background-color 0.2s;
    transition: color 0.2s;
    opacity: 100%;
    cursor: pointer;
    
}
.header button:not(:hover){
    background-color: rgba(255, 255, 255, 0.432);
    color:white;
    transition: background-color 0.2s;
    transition: color 0.2s;
    }
.userhandler{
    height: 46px;
    width: 46px;
    position: relative;
    background-color: #181818;
    border-radius: 50%;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.invert{
    display: inline-block;
    filter: invert(100%);
    margin-left: 4px;
    }
.invert img{
    max-width: 90%;
    height:auto;
    }
.logoHandler{
    height : 60%;
    width: fit-content;
    margin-left: 3%;
    padding-top: 1%;
}

.contentHolder{
    height: 85vh;
    width: 85%;
    background-color: white;
    bottom: 6px;
    align-items: center;
    margin-left: 11%;
}

.selectedPane{
    background-color: #404040;
    color: lightblue;
}

.homepage{
    width:100%;
    /* background-color: aqua; */
    height: fit-content;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
}
#maintable
{
    
    text-align: center;
    width: 90%;
}
#maintable #productlist
{
    margin-top: 40px;
    border: 1px solid black;
    width: 100%;
}
#maintable #productlist tr,th
{
    padding: 0;
    border: 1px solid black;
    border-color: #181818;
}
#maintable #productlist tr td
{
    border: 1px solid black;
    text-align: center;
}
.img_product
{
    width: 100%;
    height: 100px;
}
.img_product img
{
    width: 80%;
    height: 100%;
}
#page
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    padding-top: 10px;
}
#page .pageNum .div_num
{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    z-index: 2;
}
#page .pageNum .div_num input
{
    position: relative;
    height: 35px;
    width: 42px;
    cursor: pointer;
    right: 5px;
    top: -10px;
    opacity: 0;
    z-index: 6;
}

#page .pageNum .div_num input:checked+label
{
    background-color:aquamarine;
    opacity: 1;
}
#page .pageNum .div_num label
{
    display: block;
    position: relative;
    color: black;
    top: -110%;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    z-index: 5;
}


#page .pageNum input:hover
{
    background-color: rgb(4, 220, 4);
}

#themsanpham
{
    font-size: initial !important;
    position: absolute;
    left: 17.2%;
    top: 9%;
    text-align: center;
    background-color:#4169e1;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    line-height: 30px;
    width: 10%;
    cursor: pointer;
}
#themsanpham:hover 
{
    
    background-color: rgb(65, 105, 225,0.8);
}
/*---------[ ADD BUTTON ]--------------------------------------------------------------------------------*/
.ADadd{
    width:70%;
    height: 70%;
    z-index: 30;
    background-color: #181818f3;
    position:fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 2px solid black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
}
#ADtitle{
    margin-top: -80px;
    font-size: 32pt;
    margin-bottom: 10%;
    margin-left: 2%;
    cursor:default;
    color: aqua;
    text-align: left;
}
#ADfield{
    padding-top: 12%;
    font-size: 20px;
    cursor:default
}
#ADfield input, select{
    position: absolute;
    left: 180px;
    height: 25px;
    line-height: 25px;
    width: 35%;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 40px;
}
.ADholder{
    width: 25%;
    height: 50%;
    position: absolute;
    border:rgb(255, 255, 255) dotted 2px;
    right: 5%;
    margin-top: -3%;
}
.ADbtns{
    right:5px;
    bottom: 10px;
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    width: 100%;
}

.inputHolder{
    align-self: flex-start;
    margin-left: 5%;
}

.ADadd .close
{
    position: absolute;
	right: -1.5px;
	top: -1px;
	font-size: 24pt;
	background-color: transparent;
    color: white;
	cursor: pointer;
	outline: none;
    border: none;
}
.ADadd .close:hover
{
    background-color: #ff4700;
    border-top-right-radius:  10px;
}
.ADadd .imgsp
{
    text-align: right;
    margin-right: 30%;
    font-size: 10pt;
}
#modal_add {
    width: 100%; 
    height: 100vw; 
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
}
#modal_edit {
    width: 100%; 
    height: 100vw; 
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
}
#imgadd
{
    width:100%;
    height: 100%;
}
#imgedit
{
    width:100%;
    height: 100%;
}

.title_edit
{
    position: absolute;
    width: 50%;
    top: 10%;
    left: 4%;
    font-size: 30pt;
    color: aqua;
}
#confirmedit
{
	cursor: pointer;
	font-size: 16pt;
	padding: 10px 30px;
	background-color: green;
	color: #fff;
	border: 2px solid black;
    border-radius: 5px;
}

#confirmedit:hover
{
    background-color:white;
    color: #000;
	border: 2px solid black;
}

#confirm
{
    cursor: pointer;
	font-size: 16pt;
	padding: 10px 30px;
	background-color: #ff4700;
	color: #fff;
	border: 2px solid black;
    border-radius: 5px;
}

#confirm:hover
{
    background-color:green;
	border: 2px solid black;
}

.chucnang .delete
{
    width: 80%;
    line-height: 25px;
    margin-bottom: 10px;
    cursor: pointer;
	font-size: 14pt;
    background-color: #ff4700;
    color: #fff;
}
.chucnang .change
{
    width: 80%;
    line-height: 25px;
    cursor: pointer;
	font-size: 14pt;
    background-color:blue;
    color: #fff;
}
.chucnang button:hover
{ 
    background-color:aliceblue;
    color: black;
}
#maintable #productlist .namepr
{
    text-align: left;
    padding-left: 10px;
}
#modal_donhang {
    width: 100%; 
    height: 100vw; 
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
}
#modal_donhang #changeproduct{
	width: 60%;
	height: auto;
	background-color: #fff;
	margin: 50px auto;
	position: relative;
	padding: 10px;
	animation: topdown 0.5s;
}
#modal_donhang #changeproduct .close{
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 40pt;
	background: none;
	outline: none;
	cursor: pointer;
}
#modal_donhang #changeproduct .close:hover{
	color: #ff4700;
}
#modal_donhang #changeproduct .image{
	margin-top: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}
#modal_donhang #changeproduct .image img{
	width: 40%;
	padding: 20px;
	border:  1px solid #000;
	border-radius: 10px;
}
#modal_donhang #changeproduct .info{
	width: 700px;
	margin: 50px auto 0;
}
#modal_donhang #changeproduct .info_donhang label{
	width: 200px;
	font-size: 14pt;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
}
#modal_donhang #changeproduct .info_donhang input{
	font-size: 13pt;
	width: 400px;
	border-bottom: 2px solid #000;
	margin-bottom: 10px;
}
#modal_donhang #changeproduct .info_donhang #fileimg{
	font-size: 13pt;
	width: 400px;
	border: 2px solid #000;
	margin-left: 202px;
	cursor: pointer;
}
#modal_donhang #changeproduct button#save{
	font-size: 16pt;
	width: 200px;
	padding: 10px;
	margin: 30px auto;
	border: 3px solid #ff4700;
	background-color: #ff4700;
	color: #fff;
	display: block;
	cursor: pointer;
}
#modal_donhang #changeproduct button#save:hover{
	background-color: #fff;
	color: #ff4700;
}
#modal_donhang #info_donhang{
	width: 60%;
	background-color: #fff;
	margin: 20px auto;
	position: relative;
	padding: 20px;
    height: 700px;
}
#modal_donhang #info_donhang .close{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 40pt;
	background: none;
	outline: none;
    border: none;
	cursor: pointer;
}

#modal_donhang #info_donhang .close:hover{
	color: red;
    cursor: pointer;
}
#modal_donhang #info_donhang h4{
	font-size: 14pt;
	margin-top: 5px;
    margin-bottom: 10px;
    
}
#modal_donhang #info_donhang p{
	font-size: 14pt;
	margin-top: 25px;
    margin-bottom: 25px;
    
    
}
#modal_donhang #info_donhang #status{
	display: inline-block;
	font-size: 14pt;
	height: 34px;
	line-height: 34px;
	width: 150px;
}
#modal_donhang #info_donhang label{
	margin-left: 50px;
	cursor: pointer;
	display: inline-block;
  	height: 34px;
  	position: relative;
 	width: 60px;
 	vertical-align: middle;
}
#modal_donhang #info_donhang label input{
	display: none;
}
#modal_donhang #info_donhang label .slider {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	cursor: pointer;
	position: absolute;
	transition: 0.4s;
	border-radius: 999px;
}
#modal_donhang #info_donhang label .slider:before {
	content: "";
	background-color: #fff;
	height: 26px;
	bottom: 4px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
	border-radius: 999px;
}
#modal_donhang #info_donhang label input:checked + .slider {
  	background-color: rgb(94, 94, 243);
}

#modal_donhang #info_donhang label input:checked + .slider:before {
  	left: 30px;
}
#modal_donhang #info_donhang .printbtn{
	width: 100px;
	background-color: #000;
	color: #fff;
	height: 25px;
	border: 2px solid #000;
	line-height: 25px;
	margin-top: 10px;
	cursor: pointer;
}
#modal_donhang #info .printbtn:hover{
	background-color: #fff;
	color: #000;
}
#productlist .delete
{
    width: 80%;
    margin: 5px;
    cursor: pointer;
	font-size: 14pt;
    background-color:red;
    color: #fff;
}

#productlist .delete:hover
{ 
    background-color:aliceblue;
    color: black;
}